
<div *ngIf='!isChangePasswordFormOpened'>
    <p class='sub-header'>Change Password</p>
    <p class='sub-header'>Please confirm your account</p><br>
    <md-form-field>
        <input mdInput id="email" type="email" name="email" [(ngModel)]="email" value="" placeholder="Email">
    </md-form-field>
    <md-form-field>
        <input mdInput id="password" type="password" name="password" [(ngModel)]="password" value="" placeholder="Password">
    </md-form-field>
    <button (click)="confirm()">Confirm</button>
</div>

<div *ngIf='isChangePasswordFormOpened'>
    <md-form-field>
        <input mdInput id="newPassword" type="password" name="newPassword" [(ngModel)]="newPassword" value="" placeholder="New Password">
    </md-form-field>
    <md-form-field>
      <input mdInput id="confirmPassword" type="password" name="confirmPassword" [(ngModel)]="confirmPassword" value="" placeholder="Confirm Password">
    </md-form-field>
    <button (click)="updatePassword()">Update</button>
</div>
